@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua');
@import url("https://fonts.googleapis.com/css?family=Agbalumo");
@import url("https://fonts.googleapis.com/css?family=Afacad");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css?family=Rethink Sans');


.menu-main {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu-main > p {
    margin-top: 8vh;
    font-family: 'Quicksand', sans-serif;
}

.menu-main > .menu-section {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    background-color: transparent;
    height: 25vh;
}

.menu-main > h1 {
    font-family: "Varela Round", sans-serif;
}

.menu-main > p {
    text-align: center;
}


.deals-section > .menu-object-cl {
    background-color: rgba(250, 163, 0, 0.85);
}

.menu-object-cl {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 23vh;
    width: 35vw;
    border-radius: 5px;
    text-align: center;
    color: white;
    /* renew bg color: must be red */
    background-color: #e74c3c;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition-duration: .2s;
}

.menu-object-cl:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-object-cl > img {
    width: 33vw;
    max-height: 11.5vh;
    margin-top: 1vw;
    border-radius: 5px 5px 0 0;
}

.menu-object-cl > h3 {
    font-family: 'Glass Antiqua', sans-serif;
    /* add padding */
    padding: 0 1vw;
    font-weight: bold;
}

.menu-object-cl > p {
    font-family: "Merriweather", sans-serif;
}

.old-price {
    background-clip: text;
    color: rgba(210, 41, 175, 0.45);
    text-decoration-line: line-through;
}

.ai-chat-btn {
    background-color: #2a2a2a;
    color: white;
    position: fixed;
    right: 5vw;
    font-size: 1.2em;
    padding: 18px;
    border-radius: 50%;
    border: none;
    bottom: 5vh;
    transition-duration: .2s;
}

.ai-chat-btn:active {
    background-color: #181818FF;
}

@media only screen and (min-width: 768px) {
    .menu-main > .menu-section {
        /* Make items to don't have excesive space if they cannot fill the width*/
        grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
        grid-auto-flow: row;
        grid-gap: 1vw;
        height: auto;
    }

    .menu-object-cl {
        margin-top: 1vh;
        margin-left: 1vw;
        margin-right: 1vw;
        height: 23vh;
        width: 15vw;
        border-radius: 5px;
        text-align: center;
    }

    .real-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px 5px 0 0;
    }
}

@keyframes menuDetailAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.menu-detail-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999999;
}

.menu-detail-container .menu-item-detail {
    width: 96vw;
    margin-left: 2vw;
    height: 80vh;
    margin-top: 10vh;
    background-color: #fff;
    position: relative;
    z-index: 101;
    overflow-y: scroll;
    border-radius: 15px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: menuDetailAnimation;

}

.menu-detail-container .menu-detail-close {
    position: fixed;
    top: 1vh;
    right: 1vw;
    font-size: 10vw;
    border-radius: 50%;
    color: #ec6262;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.menu-detail-container .menu-item-dimg {
    /* Width: 25vh, image must be crop to fit */
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.menu-detail-container h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-family: 'Agbalumo', sans-serif;
}

.menu-detail-container p {
    /* This is the description of the menu */
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
}

.menu-detail-container h3 {
    /* This is the title of "options" */
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-family: 'Afacad', sans-serif;
}

.menu-detail-container ul {
    /* This is the list of options */
    margin: 0;
    padding: 0;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
    list-style-position: inside;
}

.menu-detail-container ul li {
    /* This is the list of options */
    margin: 0;
    padding: 0;
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-family: 'Raleway', sans-serif;
    list-style-position: inside;
}

@media only screen and (min-width: 768px) {
    .menu-detail-container .menu-item-detail {
        width: 30vw;
        margin-left: 69vw;
    }

    .menu-detail-container .menu-detail-close {
        font-size: 3vw;
    }
}


.chat-container-bk {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999999;
}

.chat-container {
    height: 80vh;
    margin-top: 10vh;
    background-color: #fff;
    width: 30vw;
    margin-left: 69vw;
    position: relative;
    z-index: 101;
    overflow-y: scroll;
    border-radius: 15px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: menuDetailAnimation;
}

.chat-container .chat-header {
    width: 100%;
    height: 10%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-family: 'Rethink Sans', sans-serif;
}

.chat-container .chat-header a {
    text-decoration: none;
    color: #8c6289;
    transition-duration: 0.3s;
    cursor: pointer;
}

.chat-container .chat-header a:hover {
    color: #644562;
}

.chat-container .chat-close {
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 2em;
    border: none;
    background-color: inherit;
}

.chat-container .chat-messages {
    width: 100%;
    height: 80%;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.chat-container .chat-messages .chat-message {
    width: 100%;
    min-height: 15%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
    font-family: 'Rethink Sans', sans-serif;
}

.chat-container .chat-messages .chat-message.has-embed {
    min-height: 50%;
}


.chat-container .chat-messages .chat-message .chat-message-sender {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 0.7em;
    color: #006000;
    font-weight: bold;
    padding-left: 1%;
    padding-top: 1%;
}

.chat-container .chat-messages .chat-message .menu-message-embed {
    position: relative;
    width: 70%;
    height: 80%;
    bottom: 0;
    font-size: 1em;
    color: #000;

}

.chat-container .chat-messages .chat-message .menu-message-embed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 15px 15px;
}

.chat-container .chat-messages .chat-message .menu-message-embed .menu-message-embed-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 0.85em;
    padding-left: 0;
    border-radius: 0 0 15px 15px;
}

.chat-container .chat-messages .chat-message .chat-message-content {
    position: relative;
    left: 0;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    font-size: 1em;
    color: #000;
    padding-left: 1%;
    padding-top: 1%;
    word-wrap: break-word;
}

.chat-container .chat-close:hover {
    cursor: pointer;
    color: #5e0000;
}

.chat-container .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #fff;
    border-top: 1px solid #ccc;

}

.chat-container .chat-input input {
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: 1.5%;
    border: none;
    border-radius: 5px;
    padding-left: 1%;
    font-family: 'Rethink Sans', sans-serif;
    touch-action: manipulation; /* Disable pinch-zoom on touch devices */
}

.chat-container .chat-input input::placeholder {
    color: #ccc;
}

.chat-container .chat-input input:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.chat-container .chat-input input:focus {
    outline: none;
}

.chat-container .chat-input button {
    width: 10%;
    height: 80%;
    margin-left: 1%;
    margin-top: 1.5%;
    border: none;
    border-radius: 5px;
    background-color: #006000;
    color: #fff;
    font-family: 'Rethink Sans', sans-serif;
}

.chat-container .chat-input button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.platilloSkeleton {
    margin-bottom: 20px;
}

.skeletonImage {
    background-color: #f0f0f0;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}

.image-container {
    position: relative;
}

.real-image {
    /* Put something to crop image to fit */
    object-fit: cover;
    max-height: 15vh;


    width: 100%;
    height: 100%;
    display: block;

}

.hidden {
    display: none;
}

/* Estilos para PlatilloSkeleton */
.skeletonImage {
    background-color: #f0f0f0;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
}


.skeleton-element {
    height: 15vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.52); /* Color más claro para representar un esqueleto */
    animation: pulse 1.5s infinite; /* Animación opcional para dar la sensación de que está "respirando" */
    position: absolute;

}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.6;
    }
}

@media only screen and (min-width: 768px) {
    .skeleton-element {
        height: 10vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.52); /* Color más claro para representar un esqueleto */
        animation: pulse 1.5s infinite; /* Animación opcional para dar la sensación de que está "respirando" */
        position: absolute;
    }
}
